= form_for :filters, url: users_path, method: 'get' do |filter_form|
  = filter_form.label :sort_by, 'Sort by'
  = filter_form.select :sort_by, options_for_select({ '': '',
                                              'id': 'none',
                                              'Age': :age,
                                              'City': :city,
                                              'First name': :first_name,
                                              'Last name': :last_name  }, @sort_by)
  %br/
  = filter_form.label :male, 'Male'
  = filter_form.check_box :sex, {:multiple => true, checked: @sex_filter.include?('male')}, 'male', nil
  %br/
  = filter_form.label :female, 'Female'
  = filter_form.check_box :sex, {:multiple => true, checked: @sex_filter.include?('female')}, 'female', nil
  %br/
  = filter_form.label :other, 'Other'
  = filter_form.check_box :sex, {:multiple => true, checked: @sex_filter.include?('other')}, 'other', nil
  %br/
  = filter_form.label :age_min, 'Age min'
  = filter_form.number_field :age_min, value: @min_age_filter
  = filter_form.label :age_max, 'Age max'
  = filter_form.number_field :age_max, value: @max_age_filter
  %br/
  = filter_form.label :city
  = filter_form.select :city, options_for_select(@cities, @city_filter)
  %br/
  = filter_form.submit 'Filter'
= link_to 'Reset filters', users_path
.container-fluid
  .row.flex-xl-nowrap
    .col-12.col-md-3.col-xl-2.bd-sidebar
      %ul
        %li
          User count:
          = @user_count
        %li
          Females count:
          = @user_female_count
        %li
          Males count:
          = @user_male_count
        %li
          Others count:
          = @user_other_count
        %li
          Average users age:
          = @users_average_age
        %li
          Youngest user:
          = @youngest_user
        %li
          Oldest user:
          = @oldest_user
    .col-12.col-sm-6.col-md-8.col-12.col-sm-6.col-md-8
      %h1.bd-title Users
      %table.table
        %thead
          %tr
            %th{:scope => "col"} id
            %th{:scope => "col"} First name
            %th{:scope => "col"} Last name
            %th{:scope => "col"} Email
            %th{:scope => "col"} sex
            %th{:scope => "col"} age
            %th{:scope => "col"} city
            -#%th{:scope => "col"} edit
            -#%th{:scope => "col"} delete
        %tbody
          - @users.each do |user|
            %tr
              %th{scope: 'row'}
                =user.id
              %td
                =user.first_name
              %td
                =user.last_name
              %td
                =user.email
              %td
                =user.sex
              %td
                =user.age
              %td
                =user.adress.city
              -#%td
              -#  = link_to 'Edit', edit_user_registration_path(user), class:'btn btn-primary'
              -#%td
              -#  = link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'
