= form_tag(:users, method: 'get') do
  = label_tag :sort_by, 'Sort by'
  = select_tag :sort_by, options_for_select({ '': '',
                                              'id': 'none',
                                              'Age': :age,
                                              'City': :city,
                                              'First name': :first_name,
                                              'Last name': :last_name  })
  = label_tag :male, 'Male'
  = check_box_tag :male
  = label_tag :female, 'Female'
  = check_box_tag :female
  = label_tag :other, 'Other'
  = check_box_tag :other
  = label_tag :age_min, 'Age min'
  = number_field_tag :age_min
  = label_tag :age_max, 'Age max'
  = number_field_tag :age_max
  = label_tag :city
  = select_tag :city, options_for_select(@cities)

  = submit_tag 'Filter'
.container-fluid
  .row.flex-xl-nowrap
    .col-12.col-md-3.col-xl-2.bd-sidebar
      %ul
        %li
          User count:
          = get_users_count
        %li
          Females count:
          = get_female_count
        %li
          Males count:
          = get_male_count
        %li
          Others count:
          = get_other_count
        %li
          Average users age:
          = get_users_average_age
        %li
          Youngest user:
          = get_youngest_user
        %li
          Oldest user:
          = get_oldest_user
    .col-12.col-sm-6.col-md-8.col-12.col-sm-6.col-md-8
      %h1.bd-title Users
      %table.table
        %thead
          %tr
            %th{:scope => "col"} id
            %th{:scope => "col"} First name
            %th{:scope => "col"} Last name
            %th{:scope => "col"} Email
            %th{:scope => "col"} sex
            %th{:scope => "col"} age
            %th{:scope => "col"} city
            %th{:scope => "col"} edit
            %th{:scope => "col"} delete
        %tbody
          - @users.each do |user|
            %tr
              %th{scope: 'row'}
                = link_to user.id, user_path(user)
              %td
                =user.first_name
              %td
                =user.last_name
              %td
                =user.email
              %td
                =user.sex
              %td
                =user.age
              %td
                =user.adress.city
              %td
                = link_to 'Edit', edit_user_path(user), class:'btn btn-primary'
              %td
                = link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'
