.container-fluid
  .row.flex-xl-nowrap
    .col-12.col-md-3.col-xl-2.bd-sidebar
      %ul
        %li
          User count:
          = get_users_count
        %li
          Females count:
          = get_female_count
        %li
          Males count:
          = get_male_count
        %li
          Others count:
          = get_other_count
        %li
          Average users age:
          = get_users_average_age
        %li
          Youngest user:
          = get_youngest_user
        %li
          Oldest user:
          = get_oldest_user
    .col-12.col-sm-6.col-md-8.col-12.col-sm-6.col-md-8
      %h1.bd-title Users
      %table.table
        %thead
          %tr
            %th{:scope => "col"} id
            %th{:scope => "col"} First name
            %th{:scope => "col"} Last name
            %th{:scope => "col"} Email
            %th{:scope => "col"} sex
            %th{:scope => "col"} age
        %tbody
          - @users.each do |user|
            %tr
              %th{scope: 'row'}
                =user.id
              %td
                =user.first_name
              %td
                =user.last_name
              %td
                =user.email
              %td
                =user.sex
              %td
                =user.age

