.text-center
  %h1 Users
%br/

.container
  .row
    - @users.each do |user|
      .col-sm-6.col-md-4.col-lg-3.col-xl-3
        .card.border-secondary
          .card-body
            %h5.card-title
              = link_to "#{user.name}", user
            %h6.card-subtitle.mb-2.text-muted
              = user.email
            = link_to 'Edit', edit_user_path(user), class:'btn btn-primary'
            = link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'
%br/
%br/
.text-center
  = link_to 'New User', new_user_path, class: 'btn btn-info'