%br/
%br/
%br/
.text-center
  %h2 Create new user
  %br/
  = form_with(model: @user, local: true) do |form|
    .row
      .col
      .col
        .field
          = form.label :user_name
          = form.text_field :name, class: 'form-control', placeholder: 'username'
          %br/
        .field
          = form.label :email
          = form.email_field :email, class: 'form-control', placeholder: 'e-mail'
          %br/
        .actions
          = form.submit 'Add', class: 'btn btn-primary'
      .col

