.text-center
  %h2
    = "Hello, #{@user.first_name}."
  %h3 Here is your new image
  = image_tag @img.url
  %br/
  %br/
  = link_to 'Add to favourite', new_user_favourite_path({:id => @img.id, :user_id => @user}), class: 'btn btn-outline-primary'
  &emsp;
  &emsp;
  = link_to 'Get new image', user_path, class: 'btn btn-outline-primary'
  %br/
  %br/
  = link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary'
  &emsp;
  = link_to 'Favourites', user_favourites_path(@user), class: 'btn btn-outline-primary'
  &emsp;
  = link_to 'Back', users_path, class: 'btn btn-outline-primary'
