<div class="container">
  <div class="text-center">
    <h2>Here is your new image</h2>
  </div>
  <%=image_tag @url, class: "rounded mx-auto d-block" %>

  <div class="text-center">
      <div class="row">
        <div class="col">
          <%= link_to 'Add image', new_image_path({:url => @url}), class:'btn btn-primary' %>
        </div>
        <div class="col">
          <%= link_to 'Get new image', root_path, class:'btn btn-primary' %>
        </div>
      </div>
    </div>
</div>
<br>
<div class="container">
  <div class="row">
    <% @images.each_with_index do |image, index| %>
      <div class="col-xs-6 col-md-4">
        <%= image_tag image.url, class: "img-thumbnail" %>
        <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
      </div>

    <% end %>
  </div>
</div>