<h1>Here is your new image</h1>favourite

<%= image_tag @url %>
<br>
<%= link_to "Add image", new_image_path({:url => @url})%>
<%=link_to 'Get new image', root_path %>
<%= link_to 'User list', users_path %>

<h1>Here is list of all your images</h1>

<% @images.each do |image| %>
  <%= image_tag image.url %>
<% end %>