%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ImageManager
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.navbar.sticky-top.navbar-expand.navbar-light.flex-column.flex-md-row.bd-navbar.bg-info
      %a.navbar-brand{:href => "/"}
        = image_tag "https://www.flaticon.com/premium-icon/icons/svg/1067/1067809.svg", width: "30", height: "30"
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{:href => "/"}
              Home
              %span.sr-only (current)
          - if current_user.try(:is_admin?)
            %li.nav-item
              = link_to 'All users', users_path, class: 'nav-link'
        = render 'layouts/navbar_login'
    %p.notice= notice
    %p.alert= alert
    = yield
